body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js{
  background:url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
